{# src/AppBundle/Ressources/views/app/contact.html.twig #}

{% form_theme form 'billetterie/label_template.html.twig' %}

{% extends "layout.html.twig" %}

{% block header %}
    <img src="{{ asset('images/h5.jpg') }}" alt="header" class="img-fluid d-none d-sm-block">
    <img src="{{ asset('images/h5_mobile.jpg') }}" alt="header" class="img-fluid d-block d-sm-none">
{% endblock %}

{% block title %}
    {% trans %}comment.contact{% endtrans %} - {{ parent() }}
{% endblock %}

{% block main %}
    <div class="container my-5">
        <h3 class="text-center text-lowercase">{% trans %}contact.title{% endtrans %}</h3>
        <div class="row">
            <p class="col text-justify">
                {% trans %}contact.text{% endtrans %}
            </p>
        </div>
        <div class="row">
            {% for message in app.flashes('notice') %}
                <div class="col alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(form) }}

        <div class="form-row">
            <div class="form-group col-md-3">
                {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'form-control-label'}}) }}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nom) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_label(form.prenom, "Prenom", {'label_attr': {'class': 'form-control-label'}}) }}
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.prenom) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_label(form.email, "Votre email", {'label_attr': {'class': 'form-control-label'}}) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.email) }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-8">
                {{ form_label(form.titre, "Titre", {'label_attr': {'class': 'form-control-label'}}) }}
                {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.titre) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                {{ form_label(form.message, "Votre message", {'label_attr': {'class': 'form-control-label'}}) }}
                {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': '15'}}) }}
                {{ form_errors(form.message) }}
            </div>
        </div>
        {{ form_widget(form.envoyer, {'attr': {'class': 'btn btn-info'}}) }}

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}