{# app/Resources/views/app/index.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}
    {% trans %}comment.accueil{% endtrans %} - {{ parent() }}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12 p-4">
                <p class="text-center h3 text-lowercase">{% trans %}app.index.welcome{% endtrans %}</p>
                <p class="text-justify">
                    {% trans %}app.index.text_welcome{% endtrans %}
                </p>
                <p class="text-center font-weight-bold">
                    {% trans %}app.index.text_link{% endtrans %}
                </p>
                <div class="row justify-content-center">
                    <a class="btn btn-info btn-lg" href="{{ path('homepage_billetterie') }}" role="button">{% trans %}comment.billetterie{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-lowercase">{% trans %}app.title.tarif{% endtrans %}</h3>
                <p>{% trans %}app.index.tarif{% endtrans %}</p>
            </div>
        </div>
        {% set colTarif = 6 %}
        {{ include("app/tarif.html.twig") }}
        <div class="row">
            <div class="col-12">
                <h3 class="text-center text-lowercase">{% trans %}app.title.horaire{% endtrans %}</h3>
            </div>
        </div>
        <div class="row">
            <p class="col-12 text-center font-weight-light">{% trans %}app.index.horaire{% endtrans %}</p>
            <table class="table table-responsive-sm">
                <thead class="thead-dark">
                <tr>
                    <th scope="row">{% trans %}Lundi{% endtrans %}</th>
                    <th scope="row">{% trans %}Mardi{% endtrans %}</th>
                    <th scope="row">{% trans %}Mercredi{% endtrans %}</th>
                    <th scope="row">{% trans %}Jeudi{% endtrans %}</th>
                    <th scope="row">{% trans %}Vendredi{% endtrans %}</th>
                    <th scope="row">{% trans %}Samedi{% endtrans %}</th>
                    <th scope="row">{% trans %}Dimanche{% endtrans %}*</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>9h - 18h</td>
                    <td>{% trans %}app.index.close{% endtrans %}</td>
                    <td>9h - 21h45</td>
                    <td>9h - 18h</td>
                    <td>9h - 21h45</td>
                    <td>9h - 18h</td>
                    <td>9h - 18h</td>
                </tr>
                </tbody>
            </table>
            <p class="col-12">*{% trans %}app.index.horaire_aide{% endtrans %}</p>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="text-center text-lowercase">{% trans %}app.title.acces{% endtrans %}</h3>
            </div>
        </div>
        <div class="row no-gutters justify-content-center">
            <div class="col-12">
                <table class="table table-ui mb-5">
                    <tbody class="">
                    <tr scope="row">
                        <th>{% trans %}app.title.metro{% endtrans %}</th>
                        <td>{% trans %}app.index.metro{% endtrans %}</td>
                    </tr>
                    <tr scope="row">
                        <th>{% trans %}app.title.bus{% endtrans %}</th>
                        <td>{% trans %}app.index.bus{% endtrans %}</td>
                    </tr>
                    <tr scope="row">
                        <th>Velib'</th>
                        <td>{% trans %}app.index.velib{% endtrans %}</td>
                    </tr>
                    <tr scope="row">
                        <th>{% trans %}app.title.voiture{% endtrans %}</th>
                        <td>{% trans %}app.index.voiture{% endtrans %}</td>
                    </tr>
                    <tr scope="row">
                        <th>{% trans %}app.title.batobus{% endtrans %}</th>
                        <td>{% trans %}app.index.batobus{% endtrans %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <img src="{{ asset('images/maps.png') }}" alt="maps" class="img-fluid d-none d-sm-block">
        <img src="{{ asset('images/maps_mobile.png') }}" alt="maps" class="img-fluid d-block d-sm-none">
    </div>
{% endblock %}