{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Musée du Louvre{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    {% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('images/icon.png') }}">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark-louvre">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <div class="nav-item"><a class="nav-link text-lowercase " href="{{ path('home') }}">Accueil</a></div>
            </div>
            <div class="nav navbar-nav mx-auto">
                <div class="nav-item"><a class="nav-link text-lowercase" href="{{ path('homepage_billetterie') }}">Billetterie</a></div>
            </div>
            <div class="nav navbar-nav">
                <div class="nav-item"><a class="nav-link text-lowercase" href="{{ path('contact') }}">Contact</a></div>
            </div>
        </div>
    </div>
</nav>

<div id="header" class="row no-gutters">
    {% block header %}<img src="{{ asset('images/header1_bl.png') }}" alt="header">{% endblock %}
</div>
{% block main %}
{% endblock %}


<footer class="bg-dark-louvre text-light">
    <div class="container">
        <div class="row justify-content-between py-4">
            <div class="col-6">
                <p class="col-12">Site web concu par</p>
                <div class="col-sm-4 col-12"><img class="img-fluid" src="{{ asset('images/UpStorm_footer.png') }}" alt="logo_upStorm"></div>
            </div>
            <div class="col-sm-6 col-12 text-left">
                <p class="col-12"><a href="#" class="">Mention légales</a> · <a href="#" class="">CGV</a></p>
                <p class="col-12">© Musée du Louvre - Tous droits de reproduction réservés</p></div>
        </div>
    </div>
</footer>

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}

</body>
</html>