<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Musée du Louvre{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('images/icon.png') }}">
</head>
<body class="container">
    <div class="row">
        Réservation n°: <span class="font-weight-bold">{{ codeReservation }}</span> pour le <span class="font-weight-bold">{{ jourVisite|date('d/m/Y') }}</span> - Paiement de XX.00 Euros
    </div>
    <div class="row">
        Récapitulatif de la commande :
    </div>
    {% for billet in billets %}
        <div class="col-6 border-bottom">
            {{ billet.nom }} <samp class="font-weight-bold">{{ billet.prenom }}</samp> - <span class="font-weight-light">{{ tarif[ loop.index0 ] }} euros</span>
        </div>
    {% endfor %}
</body>
</html>