{# src/AppBundle/Ressources/views/billetterie/index.html.twig #}

{% form_theme form 'billetterie/label_template.html.twig' %}

{% extends "billetterie/base.html.twig" %}

{% block header %}
    <img src="{{ asset('images/h2.jpg') }}" alt="header" class="img-fluid d-none d-sm-block">
    <img src="{{ asset('images/h2_mobile.jpg') }}" alt="header" class="img-fluid d-block d-sm-none">
{% endblock %}

{% block content %}
    <div class="row text-justify font-weight-light m-3">
        {% trans %}billetterie.index.text{% endtrans %}
    </div>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_errors(form) }}

    <div class="form-row border-t">
        <div class="form-group col-md-3">
            {{ form_label(form.visitDate, "Jour de la visite", {'label_attr': {'class': 'form-control-label'}}) }}
            {{ form_widget(form.visitDate, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.visitDate) }}
        </div>
        <div class="form-group col-md-4">
            {{ form_label(form.ticketType, "Type de billet", {'label_attr': {'class': 'form-control-label'}}) }}
            {{ form_widget(form.ticketType, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.ticketType) }}
        </div>
        <div class="form-group col-md-3">
            {{ form_label(form.ticketNumber, "Nombre de billet", {'label_attr': {'class': 'form-control-label'}}) }}
            {{ form_widget(form.ticketNumber, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.ticketNumber) }}
        </div>
    </div>
    <div class="form-row">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_label(form.email, "Email", {'label_attr': {'class': 'form-control-label'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'email@example.com'}}) }}
            {{ form_errors(form.email) }}
        </div>
    </div>
    {{ form_widget(form.nextStep, {'attr': {'class': 'btn btn-info'}}) }}

    {{ form_rest(form) }}
    {{ form_end(form) }}

    <div class="jf row no-gutters justify-content-center my-3 border-t">
        {% set current_year = getCurrentYear() %}
        {% set next_year = current_year + 1 %}
        <div class="col-12 my-3">
            <div class="h5 text-center">{% trans %}billetterie.index.ferie{% endtrans %} {{ current_year }}</div>
        </div>
        <div class="col-12 col-sm-6">
            {% for i in 1..6 %}
                {% if getFirstDate(i, current_year) %}
                    <div class="row justify-content-center">
                        <div class="text-info">{{ getFirstDate(i, current_year)|date('F') }}</div>
                        <ul class="font-weight-light">
                            {% for day in getPublicHoliday(current_year)|sort if day|date('n') == i %}
                                <li>{{ day|date('d F') }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-12 col-sm-6">
            {% for i in 7..12 %}
                {% if getFirstDate(i, current_year) %}
                    <div class="row justify-content-center">
                        <div class="text-info">{{ getFirstDate(i, current_year)|date('F') }}</div>
                        <ul class="font-weight-light">
                            {% for day in getPublicHoliday(current_year)|sort if day|date('n') == i %}
                                <li>{{ day|date('d F') }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-12 my-3">
            <div class="h5 text-center">{% trans %}billetterie.index.ferie{% endtrans %} {{ next_year }}</div>
        </div>
        <div class="col-12 col-sm-6">
            {% for i in 1..6 %}
                {% if getFirstDate(i, next_year) %}
                    <div class="row justify-content-center">
                        <div class="text-info">{{ getFirstDate(i, next_year)|date('F') }}</div>
                        <ul class="font-weight-light">
                            {% for day in getPublicHoliday(next_year)|sort if day|date('n') == i %}
                                <li>{{ day|date('d F') }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-12 col-sm-6">
            {% for i in 7..12 %}
                {% if getFirstDate(i, next_year) %}
                    <div class="row justify-content-center">
                        <div class="text-info">{{ getFirstDate(i, next_year)|date('F') }}</div>
                        <ul class="font-weight-light">
                            {% for day in getPublicHoliday(next_year)|sort if day|date('n') == i %}
                                <li>{{ day|date('d F') }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
{% endblock %}
{% block panier %}
    <div class="col-md-4 my-3">
        <row class="row text-center mb-2">
            <div class="col text-secondary">{% trans %}billetterie.index.rappel{% endtrans %}</div>
        </row>
        {% set colTarif = 12 %}
        {{ include("app/tarif.html.twig") }}
    </div>
{% endblock %}