{# src/AppBundle/Ressources/views/billetterie/index.html.twig #}

{% form_theme form 'billetterie/label_template.html.twig' %}

{% extends "billetterie/base.html.twig" %}

{% block header %}
    <img src="{{ asset('images/h2.jpg') }}" alt="header" class="img-fluid d-none d-sm-block">
    <img src="{{ asset('images/h2_mobile.jpg') }}" alt="header" class="img-fluid d-block d-sm-none">
{% endblock %}

{% block content %}
    <div class=" h5 text-center m-3">
        {% trans %}billetterie.index.info.title{% endtrans %}
    </div>
    <div class="row text-justify font-weight-light m-3">
        {% trans %}billetterie.index.text{% endtrans %}
    </div>
    <div class="h5 text-center m-3">
        {% trans %}billetterie.index.restriction.title{% endtrans %}
    </div>
    <div class="row text-justify font-weight-normal m-3">
        {% trans %}billetterie.index.restriction.text.0{% endtrans %}
        {% for i in 1..5 %}
            <div class="font-weight-light m-1">{{ ('billetterie.index.restriction.text.' ~ i)|trans }}</div>
        {% endfor %}
    </div>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_errors(form) }}

    <div class="form-row border-t">
        <div class="col-12  text-center h5">
            {% trans %}billetterie.index.form.title{% endtrans %}
        </div>
        <div class="form-group col-md-3">
            {{ form_label(form.visitDate, "Jour de la visite", {'label_attr': {'class': 'form-control-label'}}) }}
            {{ form_widget(form.visitDate, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.visitDate) }}
        </div>
        <div class="form-group col-md-4">
            {{ form_label(form.ticketType, "Type de billet", {'label_attr': {'class': 'form-control-label'}}) }}
            {{ form_widget(form.ticketType, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.ticketType) }}
        </div>
        <div class="form-group col-md-3">
            {{ form_label(form.ticketNumber, "Nombre de billet", {'label_attr': {'class': 'form-control-label'}}) }}
            {{ form_widget(form.ticketNumber, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.ticketNumber) }}
        </div>
    </div>
    <div class="form-row">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_label(form.email, "Email", {'label_attr': {'class': 'form-control-label'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'email@example.com'}}) }}
            {{ form_errors(form.email) }}
        </div>
    </div>
    {{ form_widget(form.nextStep, {'attr': {'class': 'btn btn-info'}}) }}

    {{ form_rest(form) }}
    {{ form_end(form) }}

    <div class="jf row no-gutters justify-content-center my-3 border-t">
        {% set current_year = getCurrentYear() %}
        {% for j in 0..1%}
        {% set year = current_year + j %}
            <div class="col-12 my-3">
                <div class="h5 text-center">{% trans %}billetterie.index.ferie{% endtrans %} {{ year }}</div>
            </div>
            {% for k in 0..1%}
                <div class="col-12 col-sm-6 text-capitalize">
                    {% for i in 1..6 %}
                        {% set mouth_i = i+(6*k)%}
                        {% if getFirstDate(mouth_i, year) %}
                            <div class="row justify-content-center">
                                <div class="text-info">{{ getFirstDate(mouth_i, year)|localizeddate('none', 'none', app.request.locale, "Europe/Paris", "LLLL") }}</div>
                                <ul class="font-weight-light">
                                    {% for day in getPublicHoliday(year)|sort if day|date('n') == mouth_i %}
                                        <li>{{ day|localizeddate('none', 'none', app.request.locale, "Europe/Paris", "ee MMMM") }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}

    </div>
{% endblock %}
{% block panier %}
    <div class="col-md-4 my-3">
        <row class="row text-center mb-2">
            <div class="col text-secondary">{% trans %}billetterie.index.rappel{% endtrans %}</div>
        </row>
        {% set colTarif = 12 %}
        {{ include("app/tarif.html.twig") }}
    </div>
{% endblock %}