{# src/AppBundle/Ressources/views/billetterie/information.html.twig #}

{% extends "billetterie/base.html.twig" %}
{% block titre_billetterie %}Information{% endblock %}
{% block etape %}etape-2{% endblock %}
{% block etape_information %}etape-active{% endblock %}
{% block content %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_errors(form) }}

    <div class="form-row mb-4">
        <div class="col-mb-6">
            {{ form_label(form.email, "Rapel de votre adresse email", {'label_attr': {'class': 'form-control-label'}}) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'readonly': 'true'}}) }}
        </div>
    </div>

    {% for form in form.billets %}
        <div class="col h3 text-center">billet n° {{ loop.index }}</div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'form-control-label'}}) }}
                {{ form_errors(form.nom) }}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Votre nom'}}) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_label(form.prenom, "Prenom", {'label_attr': {'class': 'form-control-label'}}) }}
                {{ form_errors(form.prenom) }}
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Votre prenom'}}) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">{{ form_row(form.pays) }}</div>
            <div class="form-group col-md-6">{{ form_row(form.dateNaissance) }}</div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">{{ form_row(form.tarifReduit) }}</div>
        </div>
    {% endfor %}
    {{ form_widget(form.paiement, {'attr': {'class': 'btn btn-info btn-lg'}}) }}

    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block panier %}
    <div class="col-md-4 my-3">
        <row class="row text-center mb-2">
            <div class="col text-secondary">Rappel des prix</div>
        </row>
        {% set colTarif = 12 %}
        {{ include("app/tarif.html.twig") }}
    </div>
{% endblock %}