{% extends "billetterie/base.html.twig" %}

{% block header %}
    <img src="{{ asset('images/h6.jpg') }}" alt="header" class="img-fluid d-none d-sm-block">
    <img src="{{ asset('images/h6_mobile.jpg') }}" alt="header" class="img-fluid d-block d-sm-none">
{% endblock %}

{% block titre_billetterie %}{% trans %}billetterie.base.paiement{% endtrans %}{% endblock %}
{% block etape_information %}etape-active{% endblock %}
{% block etape_paiement %}etape-active{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="h3 col-12 text-center">
            {% trans %}billetterie.paiement.panier{% endtrans %}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-ui mb-3">
                <thead>
                <tr>
                    <th>{% trans %}Nom{% endtrans %}, {% trans %}Prenom{% endtrans %}</th>
                    <th>{% trans %}Type de billet{% endtrans %}</th>
                    <th>{% trans %}billetterie.paiement.prix{% endtrans %}</th></tr>
                </thead>
                <tbody>
                {% for ticket in app.session.get('reservation').tickets %}
                    <tr><td>{{ ticket.name }}, {{ ticket.firstName }}</td><td>{{ ticket.ticketLabel }}</td><td>{{ ticket.price }}€</td></tr>
                {% endfor %}
                <tr>
                    <td colspan="2"><b>{% trans %}billetterie.paiement.total{% endtrans %} :</b></td>
                    <td>{{ app.session.get('reservation').bookingPrice }}€</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-center">

        <div class="col-12 font-weight-light text-justify my-3">
            {% trans %}billetterie.paiement.text{% endtrans %} <span class="font-weight-bold">Stripe</span>
        </div>

        <form action="{{ path('order_checkout') }}" method="post" id="payment-form" class="col-lg-6 col-sm-8 col-11">
            <div class="form-group ">
                <label for="card-element" class="font-weight-bold">
                    {% trans %}billetterie.paiement.bank_text{% endtrans %} :
                </label>
                <div id="card-element">

                </div>

                <div id="card-errors" role="alert"></div>
            </div>
            <button class="btn btn-info btn-lg">{% trans %}billetterie.paiement.avec{% endtrans %} <strong>Stripe</strong></button>
        </form>
        {#<div class="row">#}
            {#{% for message in app.flashes('error') %}#}
                {#<div class="col alert alert-success" role="alert">#}
                    {#{{ message }}#}
                {#</div>#}
            {#{% endfor %}#}
        {#</div>#}
    </div>

        <script src="https://js.stripe.com/v3/"></script>

        <script>
            var stripe = Stripe('{{ stripe_public }}');

            var elements = stripe.elements();

            var style = {
                base: {
                    color: '#32325d',
                    lineHeight: '20px',
                    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                    fontSmoothing: 'antialiased',
                    fontSize: '16px',
                    '::placeholder': {
                        color: '#aab7c4'
                    }
                },
                invalid: {
                    color: '#fa755a',
                    iconColor: '#fa755a'
                }
            };

            var card = elements.create('card', {style: style, hidePostalCode: true});

            card.mount('#card-element');

            card.addEventListener('change', function(event) {
                var displayError = document.getElementById('card-errors');
                if (event.error) {
                    displayError.textContent = event.error.message;
                } else {
                    displayError.textContent = '';
                }
            });

            var form = document.getElementById('payment-form');
            form.addEventListener('submit', function(event) {
                event.preventDefault();

                stripe.createToken(card).then(function(result) {
                    if (result.error) {
                        var errorElement = document.getElementById('card-errors');
                        errorElement.textContent = result.error.message;
                    } else {
                        stripeTokenHandler(result.token);
                    }
                });
            });

            function stripeTokenHandler(token) {
                // Insert the token ID into the form so it gets submitted to the server
                var form = document.getElementById('payment-form');
                var hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'stripeToken');
                hiddenInput.setAttribute('value', token.id);
                form.appendChild(hiddenInput);

                // Submit the form
                form.submit();
            }
        </script>

{% endblock %}
{% block panier %}
{% endblock %}