{% extends "billetterie/base.html.twig" %}

{% block header %}
    <img src="{{ asset('images/h6.jpg') }}" alt="header" class="img-fluid d-none d-sm-block">
    <img src="{{ asset('images/h6_mobile.jpg') }}" alt="header" class="img-fluid d-block d-sm-none">
{% endblock %}

{% block titre_billetterie %}paiement{% endblock %}
{% block etape_information %}etape-active{% endblock %}
{% block etape_paiement %}etape-active{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="h3 col-12 text-center">
            votre panier
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-ui mb-3">
                <thead>
                <tr><th>Personne</th><th>Type de billet</th><th>Prix</th></tr>
                </thead>
                <tbody>
                {% for billet in app.session.get('reservation').billets %}
                    <tr><td>{{ billet.nom }} {{ billet.prenom }}</td><td>{{ billet.nomPromotion }}</td><td>{{ billet.prixBillet }}€</td></tr>
                {% endfor %}
                <tr>
                    <td colspan="2"><b>Total :</b></td>
                    <td>{{ app.session.get('reservation').prixReservation }}€</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-center">

        <div class="col-12 font-weight-light text-justify my-3">
            Merci de bien vérifier que le contenu de votre réservation (date, horaire, conditions de gratuité) correspond à votre commande. Seuls les paiements en euros sont acceptés. Le paiement s'effetura via <span class="font-weight-bold">Stripe</span>
        </div>

        <form action="{{ path('order_checkout') }}" method="post" id="payment-form" class="">
            <div class="form-group ">
                <label for="card-element" class="font-weight-bold">
                    Entrer vos informations bancaires :
                </label>
                <div id="card-element">

                </div>

                <!-- Used to display Element errors. -->
                <div id="card-errors" role="alert"></div>
            </div>
            <button class="btn btn-info btn-lg">Payer avec <strong>Stripe</strong></button>
        </form>
        <div class="row">
            {% for message in app.flashes('error') %}
                <div class="col alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>

        <script src="https://js.stripe.com/v3/"></script>

        <script>
            var stripe = Stripe('{{ app.session.get(constant('AppBundle\\Service\\StripeManager::NAME_SESSION_PK')) }}');

            var elements = stripe.elements();

            var style = {
                base: {
                    color: '#32325d',
                    lineHeight: '20px',
                    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                    fontSmoothing: 'antialiased',
                    fontSize: '16px',
                    '::placeholder': {
                        color: '#aab7c4'
                    }
                },
                invalid: {
                    color: '#fa755a',
                    iconColor: '#fa755a'
                }
            };

            var card = elements.create('card', {style: style, hidePostalCode: true});

            card.mount('#card-element');

            card.addEventListener('change', function(event) {
                var displayError = document.getElementById('card-errors');
                if (event.error) {
                    displayError.textContent = event.error.message;
                } else {
                    displayError.textContent = '';
                }
            });

            var form = document.getElementById('payment-form');
            form.addEventListener('submit', function(event) {
                event.preventDefault();

                stripe.createToken(card).then(function(result) {
                    if (result.error) {
                        var errorElement = document.getElementById('card-errors');
                        errorElement.textContent = result.error.message;
                    } else {
                        stripeTokenHandler(result.token);
                    }
                });
            });

            function stripeTokenHandler(token) {
                // Insert the token ID into the form so it gets submitted to the server
                var form = document.getElementById('payment-form');
                var hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'stripeToken');
                hiddenInput.setAttribute('value', token.id);
                form.appendChild(hiddenInput);

                // Submit the form
                form.submit();
            }
        </script>

{% endblock %}
{% block panier %}
{% endblock %}